    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">¡Bienvenidos a mi despacho!</div>
                <div class="intro-heading">{{site.title}}</div>
                <div class="intro-lead-in">Ingeniero de Software</div>

                <a class="btn btn-xl" href="#profile" title="Conozca más acerca de mí.">Bio</a>
                <!--a class="btn btn-xl" href="#libros" title="Conozca acerca de mis libros.">Autor</a>
                <a class="btn btn-xl" href="#equipo" title="Conozca mi equipo de trabajo.">Equipo</a>
                <a class="btn btn-xl" href="#historia" title="Conozca un poco acerca de mi historia.">Trayectoria</a-->
                <a href="https://g.co/kgs/eKawD8" target="_blank" class="page-scroll btn btn-xl" title="Si necesita más información encuéntrela en internet">¿Quiere saber más?</a>
            </div>
        </div>
    </header>
